.Header {
    background: #333;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarFixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

.Header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header .brand img {
    width: 100px;
}

.Header .navbarNav .navbarNavLink {
    margin: 2px 12px;
    width: auto;
    min-width: auto;
}