.Header {
    background: rgba(33,37,41,.95);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.navbarFixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

.Header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header .brand img {
    width: 100px;
}

.Header .navbarNav .navbarNavLink {
    margin: 2px 12px;
    width: auto;
    min-width: auto;
}

@media screen and (max-width: 767px) {
    .Header .navbarNav {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        left: 0;
        right: 0;
        z-index: 99;
        height: 100vh;
        background: rgba(51, 51, 51, 0.95);
        visibility: hidden;
        transition: transform .3s ease-in-out;
    }

    .Header .navbarNav.active {
        visibility: visible;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background: #333;
        top: 60px;
        transform: translateY(0);
    }


}