.QueryCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px transparent solid;
    border-radius: 24px;
    background: var(--primary-color);
    padding: 20px;
    min-height: 390px;
    transition: transform .3s ease, border-color .3s ease;
    position: relative;
}

.QueryCard:hover {
    transform: translateY(-20px);
    border-color: var(--secondary-color);
}

.queryCardIcon img {
    width: 64px;
}

.queryCardTitle {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
    text-transform: uppercase;
}

.QueryCard .planningPrice {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.QueryCard .planningPrice .value {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    color: var(--secondary-color);
}

.QueryCard .Button {
    position: absolute;
    bottom: 40px;
}