.ServiceInfo {
    padding: 64px 0;
    min-height: 90vh;
    border: 3px solid #343a40;
    border-radius: 24px;
    margin: 50px 24px;
    transition: border-color .6s ease;
}

.ServiceInfo .serviceInfoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.serviceInfoHeader .Divider {
    width: 200px !important;
    margin-bottom: 50px;
}

.ServiceInfo:hover {
    border-color: var(--primary-color);
}

.ServiceInfo .heading {
    padding: 6px 18px;
    border-bottom: 2px solid var(--primary-color);
    color: #f8f9fa;
    font-size: 15px;
    text-transform: uppercase;
}

.ServiceInfo .ButtonLink {
    align-self: flex-end;
    margin-right: 20px;
}

.ServiceInfo .serviceInfoTitle {
    margin-bottom: 12px;
    font-size: 38px;
    width: 66%;
    color: #f8f9fa;
}

.ServiceInfo .serviceInfoSubtitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
}

.ServiceInfo .serviceInfoDescription {
    width: 80%;
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #f8f9fa;
}

.ServiceInfo .serviceInfoTags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    justify-content: center;
}

.ServiceInfo .serviceInfoButton {
    width: 220px;
    margin-top: 48px;
    font-size: 16px;
}

@media screen and (max-width: 767.8px) {
    .ServiceInfo {
        width: 100%;
    }

    .ServiceInfo .serviceInfoTitle {
        width: 80%;
        margin-bottom: 8px;
        font-size: 28px;
    }

    .ServiceInfo .serviceInfoDescription {
        width: 450px;
        font-size: 15px;
    }

    .ServiceInfo .serviceInfoTags {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 559.8px) {
    .ServiceInfo .serviceInfoDescription {
        width: 100%;
        padding: 0 10px;
    }

    .ServiceInfo .ButtonLink {
        align-self: inherit;
        margin-right: 0;
        margin-bottom: 20px;
    }
}