.OurCustomers {
    padding-top: 250px;
    padding-bottom: 100px;
    min-height: 200px;
    position: relative;
    background: var(--primary-color);
}

.OurCustomers .slider {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ourCustomersTitle {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.OurCustomers .indicator {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: rgba(34,34,34,.4);
    display: inline-block;
    cursor: pointer;
}

.OurCustomers .indicator.active {
    background: #222;
}

.OurCustomers .indicator:not(:last-child) {
    margin-right: 12px;
}

.OurCustomers img.image {
    width: 64px;
    margin-right: 10px;
}


.OurCustomers .quoteIcon {
    position: absolute;
    top: -50px;
}

@media screen and (max-width: 540px) {
    .OurCustomers img.slide {
        width: 64px;
    }
}