.OurServices {
    background: #212529;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 967.8px) {
    .OurServices .Card {
        margin-bottom: 30px;
    }
}