.Card {
    overflow: hidden;
    border: 4px solid #212529;
    background: #2c2c31;
    font-size: 14px;
    border-radius: 24px;
    transition: background-color .8s ease,border-color .8s ease,transform .8s cubic-bezier(.25,.46,.45,.94),-webkit-transform .8s cubic-bezier(.25,.46,.45,.94);
}

.Card:hover {
    border-color: var(--primary-color);
    background-color: #38383e;
    transform: translateY(-10px);
}

.Card .cardThumb {
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card .cardThumb img {
    width: 100%;
    opacity: .6;
}

.Card .cardContent {
    padding: 8px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card .cardContent h3 {
    margin-bottom: 16px;
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.Card .cardContent p {
    margin-bottom: 24px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.Card .cardContent .buttonMoreInfo {
    margin-bottom: 16px;
}

@media screen and (max-width: 1181.8px) {
    .Card .cardThumb img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 967.8px) {
    .Card .cardThumb img {
        height: auto;
    }
}