.HamburguerButton {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    background: transparent;
}

@media screen and (max-width: 767px) {
    .HamburguerButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}