.SocialButton {
    display: inline-flex;
    background: rgba(255, 255, 255, .4);
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    transition: background .3s ease-in;
}

.SocialButton:hover {
    background: #f3cd08;
}