footer {
    min-height: 100px;
    background: #333;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .SocialMedia {
    justify-content: center;
    margin-left: calc(50% - 200px);
}

footer .footerBrand {
    width: 160px;
}

@media screen and (max-width: 961px) {
    footer .container {
        flex-direction: column;
    }

    footer .SocialMedia {
        margin-left: 0;
    }

    footer .footerBrand {
        width: 100px;
        margin-bottom: 50px;
    }
}