footer {
    min-height: 200px;
    background: #333;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .footerBrand {
    width: 200px;
}

@media screen and (max-width: 961px) {
    footer .container {
        flex-direction: column;
    }

    footer .footerBrand {
        width: 100px;
        margin-bottom: 50px;
    }
}